@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

header{
    width: 100%;
    height:70px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

header .logo{
    width: 200px;
    height: 200px;
}

header a{
    text-decoration: none;
}

li{
    font-weight: 900;
    text-decoration: none;
    color: white;
    margin: 15px;
    position: relative;
    display: block;
    transition: .5s;
}
li::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: red;
}
li:hover{
    color:white;
}
li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


#section-first{
    height: 760px;
    width: 100%;
    background-image: url(../img/fundo.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:root, :root:lang(bg), :root:lang(el), :root:lang(ru), :root:lang(uk)
{
    --font-primary: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-display: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-code: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}

:root {
    --font-headline: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#section-first .conteudo h1{
    color: white;
    display: flex;
    justify-content: center;
    font-family: var(--font-headline);
    font-weight: 900;
    font-size: 44px;
    font-size: clamp(24px,5vw,44px);
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}

#section-first .conteudo p{
    margin-top: 50px;
    margin-bottom: 35px;
    width: 650px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    margin-left: 45px;
    justify-content: center;
    text-wrap: inherit;
    text-align: center;
}

#section-first .botao-a{
    margin: 15px;
    width: 300px;
    height: 50px;
    background: white;
    border-radius: 35px;
    text-decoration: none;
    color: black;
    border: 0;
    font-size: 17px;
    font-weight: 700;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    cursor: pointer;
    transition: .5s;
}

#section-first .botao-a:hover{
    transform: scale(1.05);
    transition: .5s;
    box-shadow: 0px 0px 15px 5px rgb(0, 81, 255);

}

#section-first .botao-b{
    margin: 15px;
    width: 450px;
    height: 50px;
    background: rgb(207, 0, 0);
    border-radius: 35px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    cursor: pointer;
    border: 0;
    transition: .5s;
}
#section-first .botao-b:hover{
    transform: scale(1.05);
    transition: .5s;
    box-shadow: 0px 0px 15px 10px red;
    color: red;
    background-color: black;
}

#section-sobre{
    width: 100%;
    height: 760px;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-sobre{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    margin: 100px;
    border-radius: 50px;
}
#section-sobre h2{
    width: 500px;
    text-align: center;
    margin: 100px;
}

#section-suporte{
    width: 100%;
    height: 760px;
    background-color: rgb(35, 35, 35);
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
}

#section-suporte{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-user{
    width: 200px;
    height: 400px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
}
